# Coding Tank Santander Coders 2023 - Turma 996

## Alguns recados
- Horários
  - Início: 19:00
  - Intervalo: aprox. 20:30 - 20:45
  - Fim: 22:00
- Presença
  - Obrigatória
  - 2 faltas consecutivas é eliminado do processo
  - Mais de 2 faltas não recebem o certificado de participação
- Câmera
  - Opcional durante as aulas, mas sugerimos que abram ao perguntar ou interagir
  - **Obrigatório** durante a prova
- Certificado
  - Certificado se presença >= 5
- Acesso ao conteúdo didático
  - https://lms.ada.tech/
  -**Acessar com o email cadastrado no sistema**

## Cronograma de aulas

- Aula 1
    - Variáveis
    - Tipos básicos
    - Entradas/Saídas
    - Operadores Algébricos
    - Operadores de comparação

- Aula 2
    - Estrutura condicional e controle de fluxo
    - Comando if
    - Comando else
    - Comando Elif

- Aula 3
    - Estruturas de repetição
    - Looping while

- Aula 4
    - Listas
    - Funções, parâmetros e retorno

- Aula 5
    - Prova

------------------------

## Variáveis
Variável é o nome dado ao tipo de conteúdo que pode apresentar diferentes valores enquanto o sistema está em execução. Tudo dependerá do comando do usuário e o tipo de operação que é realizado.  

```
nome = "Bruno"
```

## Tipos básicos

Podemos ter informações relacionadas às outras pessoas como nome, idade e salário. Cada uma delas possui o que chamamos de tipos de variável. Os tipos de dados são os seguintes:

In [ ]:
# Esta é uma forma de comentar o código. Toda esta informação não será processada
# nome = 'Bruno'
# Podemos passar variáveis de texto (str) com aspas duplas
nome_do_instrutor = "Bruno"
type(nome_do_instrutor)

nome_do_instrutor = 1
type(nome_do_instrutor)

int

In [ ]:
# Ou aspas simples
nome_do_instrutor = 'Bruno'
type(nome_do_instrutor)

str

In [ ]:
nome_do_instrutor

1

In [ ]:
# Números inteiros são passados diretamente para a variável
idade = 35
idade
type(idade)

int

In [ ]:
# Números decimais (float) possuem o ponto (.) comos separador das casas decimais
dolar = 4.77
type(dolar)

float

In [ ]:
# Se passarmos um número entre aspas, ele é armazenado como string
dolar = '4.77'
type(dolar)

str

In [ ]:
# Variáveis booleanas recebem True ou False como valores
certificado = True
type(certificado)

certificado = False
type(certificado)

# Atenção
# variáveis do tipo bool recebem True ou False, com letra maiúscula

NameError: ignored

## Entradas

Para solicitarmos entradas de informações a serem fornecidas pelo usuário podemos utilizar a função input. Com ela você poderá (opcionalmente) passar uma mensagem instrutiva ao usuário do que deseja que ele insira.

In [ ]:
input()

qualquer coisa

'qualquer coisa'

Veja que ele funciona, porém sem uma mensagem de qual informação é solicitada não é possível identificar o que se deve passar ao programa?

In [ ]:
input('Insira aqui a sua idade:')

Insira aqui a sua idade:35

'35'

**Variável**  
Podemos guardar o valor passado pelo usuário numa variável

In [ ]:
idade = input('Insira aqui a sua idade:')

Insira aqui a sua idade:35

Reparem nas aspas que saem quando utilizamos apenas a função input. Isso quer dizer que este valor capturado pelo programa é uma string, independente do que o usuário insira.

In [ ]:
# Valor
idade

'35'

In [ ]:
# Tipo
type(idade)

str

In [ ]:
# Informação adicional sobre nomes de variáveis e padrões do python
CONSTANTE = 'valor constante'

novaVariavelIdade = 35 # Camel Case
print(novaVariavelIdade)
NovaVariavelIdade = 36 # Pascal Case
print(NovaVariavelIdade)
nova_variavel_idade = 37 # Snake Case
print(nova_variavel_idade)

# Python, por padrão, as variáveis seguem Snake Case
# Python, em orientação a objetos, a classe segue o Pascal Case
# Constantes normalmente são declaradas tudo em maiúscula: CONSTANTE = xxx

# padrões do python para nomes
# https://peps.python.org/pep-0008/#naming-conventions

**Convertendo o tipo de dado**  
Neste caso é interessante que a idade seja um número, visto que em geral o utilizamos para realizar contas, por exemplo.

In [ ]:
int(idade)

35

In [ ]:
# o procedimento acima não altera o tipo da variável idade, a não ser que seja declarado novamente para uma nova variável
nova_variavel_idade = int(idade)
type(nova_variavel_idade)
nova_variavel_idade

35

In [ ]:
# Declarar para a mesma variável MODIFICA a variável original
idade = int(idade)
type(idade)
idade

35

In [ ]:
float(idade)

35.0

In [ ]:
# Podemos, inclusive, encadear conversões.

In [ ]:
str(float(idade))

'35.0'

In [ ]:
# eu tenho uma string e quero em float
float('35')

35.0

In [ ]:
# A operação abaixo perde a informação do decimal, portanto deve-se ter cuidado com as conversões
dolar = 4.77
dolar = int(dolar)
str(dolar)

'4'

In [ ]:
# Substituir a vírgula por ponto, para poder converter
variavel = '4,77'
variavel = variavel.replace(',', '.')
float(variavel)

4.77

In [ ]:
# Outro exemplo encadeando conversões
int(float('35'))

35

In [ ]:
# E se eu tentar um texto em float, o que acontece?
# float('a') # da erro
float('4,77')

ValueError: ignored

Podemos realizar a conversão no input, para simplificar

In [ ]:
# Para valores do tipo ponto flutuante, ou seja, numéricos com valores decimais, utilizamos o float
dolar = float(input('Insira a cotação do dólar hoje: '))
type(dolar)

In [ ]:
idade = int(input('Insira aqui sua idade:'))
type(idade)

Insira aqui sua idade35

float

## Saídas

Em diversas situações desejamos imprimir na tela o resultado de alguma operação que realizamos ou simplesmente emitirmos uma mensagem, para estas situações utilizamos a função print.

In [ ]:
print()

In [ ]:
print('Colocando o texto entre aspas na função print')

Colocando o texto entre aspas na função print

In [ ]:
print("Funciona também com aspas duplas")

Funciona também com aspas duplas

In [ ]:
print(5)

5

In [ ]:
print(True)

True

In [ ]:
print('Print com comentário') # comentário no código, ou seja, ele não executa o que está depois do #

Print com comentário

In [ ]:
# Quebrar linha
print('Print com \nquebra de linha') # \n

print('Comentário de bloco no google colab é pressionando as teclas Ctrl + \'/\'')
# A contrabarra \ , nesse caso, funciona como caractere de escape para que seja entendido como texto e não como sua função original.
# Neste caso, o fechamento da string

Print com
quebra de linha
Comentário de bloco no google colab é pressionando as teclas Ctrl + '/'

In [ ]:
# Tabulação
print('Print \tcom tabulação')
print('Print \t\tcom tabulação\n\n')

Print 	com tabulação
Print 		com tabulação

In [ ]:
# Múltiplos prints
print('Inicio do programa x')
print('Digite a opção do menu:')
print('\t1) Entrar no cadastro de clientes')
print('\t2) Entrar no cadastro de empresas')

Inicio do programa x
Digite a opção do menu:
	1) Entrar no cadastro de clientes
	2) Entrar no cadastro de empresas

**Mais de um argumento**  
Para imprimir mais de uma informação, o print permite inserir quantos argumentos forem necessários, desde que separados por vírgula. Veja o exemplo:

In [ ]:
print('Entrar no', 'cadastro de', 'clientes', 123)

Entrar no  cadastro de  clientes 123

**Parâmetros para o print**
Passando mais de um argumento para o print, podemos modificar o separador passando o parâmetro _sep_ para o print

In [ ]:
print('Entrar', 'cadastro', 'clientes', 123, sep='_')
print('Entrar', 'cadastro', 'clientes', 123, sep='|')
print('Entrar', 'cadastro', 'clientes', 123, sep='99999')

Entrar_cadastro_clientes_123
Entrar|cadastro|clientes|123
Entrar99999cadastro99999clientes99999123

Também podemos modificar o fim do print, passando o parâmetro _end_ para ele

In [ ]:
print('Print com duas quebras de linha no final', end='\n\n')
print('Print sem o separador de quebra de linha.', end='')
print('Entrar', 'cadastro', 'clientes', 123, sep='_', end='\n$ ') # Posso usar o sep e o end juntos
print('Print qualquer padrão')
print('Ok')

Print com duas quebras de linha no final

Print sem o separador de quebra de linha.Entrar_cadastro_clientes_123
$ Print qualquer padrão
Ok

**Print de variáveis**  
Também é possível imprimir variáveis de forma simples, basta passar o nome dado para a variável dentro dos parênteses.

In [ ]:
idade = 35
nome = 'Bruno Bragança'
print(idade, nome, sep='$')

35$Bruno Bragança

E se for necessário imprimir a mensagem 'Olá, eu sou Bruno Bragança e tenho 35 anos.", de forma que o nome e o sobrenome sejam provenientes de variáveis nome, sobrenome e idade.

In [ ]:
nome = 'Bruno'
sobrenome = 'Bragança'
idade = 35
print('Olá, eu sou o', nome, sobrenome, 'e tenho', idade, 'anos.')

Olá, eu sou o Bruno Bragança e tenho 35 anos.

In [ ]:
# outra forma de usar o print, formatando a saída
print('Olá, eu sou o {} {} e tenho {} anos.'.format(nome, sobrenome, idade))

#
# print('Olá, eu sou o {} {} e tenho {}, {}, {} anos., {}'.format(nome, sobrenome, idade))

Olá, eu sou o Bruno Bragança e tenho 35 anos.

**Print com f string**  
Outra forma de utilizarmos o print com variáveis é por meio do que chamamos de f string (ou interpolação de strings).

Para utilizar o f string, adicionamos o _f_ na frente de uma string, e as variáveis dentro de chaves {}

In [ ]:
print(f'Olá, eu sou o {nome} {sobrenome} e tenho {idade} anos.')

Olá, eu sou o Bruno Bragança e tenho 35 anos.

A vantagem de usar f strings é que o código fica mais legível em comparado com o format.

Escrevam a frase abaixo, substituindo o nome/sobrenome/idade, endereço, complemento do endereço, cep, cidade, estado, pais pelo de vocês, usando o print com *format*.

*Meu nome é aaa, tenho bbb anos, ccc na ddd, eee, fff, ggg, hhh, iii*

Onde cada um dos valores (aaa, bbb, etc) será uma variável

In [ ]:
endereco = 'Avenida Itaborai, 25'
complemento = 'Apto. 123'
cep = 90000100
cidade = 'Porto Alegre'
estado = 'RS'
pais = 'Brasil'

print('Meu nome é {} {}, tenho {} anos, moro na {}, {}, {}, {}, {}, {}'.format(nome, sobrenome, idade, endereco, complemento, cep, cidade, estado, pais))

Agora escreva o mesmo print com f-string

In [ ]:
print(f'Meu nome é {nome} {sobrenome}, tenho {idade} anos, moro na {endereco}, {complemento}, {cep}, {cidade}, {estado}, {pais}')

Caso onde o format pode ser mais útil que a f-string

Podemos utilizar o format para reduzir o tamanho de um float, por exemplo se a minha variavel retorna 3.14159 e eu quero só o 3.14, o format dá para fazer de forma mais natural


numero = 3.14159

numero_formatado = "{:.3f}".format(numero)

print(numero_formatado)

In [ ]:
numero = 3.14159
numero_formatado = "{:.3f}".format(numero)
print(f'Numero formatado {numero_formatado}')

Numero formatado 3.142

**Vamos praticar (2)**  
Escreva um programa que receba seu nome, sua idade e hobby e escreva uma única sentença que seja, por exemplo, "Meu nome é x, tenho y anos e meu hobby é z"

## Operadores Algébricos

Rotineiramente nos deparamos com a necessidade de realizarmos cálculos, para isso podemos utilizar os operadores algébricos como conhecemos na matemática tradicional.

**Adição**

In [ ]:
2 + 3

5

**Subtração**

In [ ]:
8 - 3

5

**Multiplicação**

In [ ]:
8 * 4

32

**Divisão**

In [ ]:
10/2

5.0

**Precedência**

In [ ]:
(2 * (2 + 5)) * 4

56

Resumindo:

| Símbolo | Operação        |
|---------|-----------------|
|    +    | soma            |
|    -    | subtração       |
|    *    | multiplicação   |
|    /    | divisão         |
|    //   | divisão inteira |
|    %    | resto           |
|    **   | potência        |

**Divisão não inteira**

In [ ]:
4/3

1.3333333333333333

**Divisão inteira**

In [ ]:
4//3

1

**Resto**

In [ ]:
4%3

1

**Potência**

In [ ]:
2**5

32

**Utilizando variáveis**

In [ ]:
var_1 = 2
var_2 = 3.5

print(var_1 + var_2)

5.5

**Vamos praticar (1)**  
Com tudo que vimos até o momento faça um programa que solicite ao usuário que insira seu ano de nascimento. Desconsiderando o mês do ano de nascimento, emita uma mensagem dizendo quantos anos ele possui.

In [ ]:
# Solução do Clério
data = input('digite sua data de nascimento: ').replace('/','')
print(data)
mes = int(data[3:4])
ano = int(data[4:8])


if mes > 6:
  mes = ((mes - 6) - 12)*-1
  idade =- 1
  idade = (2023 - ano)-1
if mes == 6:
  mes = 0
  idade = (2023 - ano)
else:
  mes =- 6
  idade = 2023 - ano

print(f'Sua idade é {idade} anos e {mes} meses')

digite sua data de nascimento: 28/05/1990
28051990
5

In [ ]:
# Solução da Mohara
nascimento = int(input('Digite seu ano de nascimento: '))
idade = 2023 - nascimento
print(f'Você possui {idade} anos \n')

In [ ]:
# Solução do Thiago Michaelsen
import datetime
ano_atual = datetime.date.today().year

ano_de_nascimento = int(input('Insira aqui o seu ano de nascimento: '))
idade = ano_atual - ano_de_nascimento

print(f'Você possui {idade} anos!')

In [ ]:
# Solução da Rhayza
def get_year ():
  year = input('Digite (apenas os números) o ano que vc nasceu: ')
  while year.isnumeric() != True:
    year = input('Digite apenas os números!! Digite o ano que vc nasceu: ')
  return int(year)

def age (year):
  return print(f"Você tem {2023 - year} anos de idade")

print(get_year())

Digite (apenas os números) o ano que vc nasceu: s
Digite apenas os números!! Digite o ano que vc nasceu: s
Digite apenas os números!! Digite o ano que vc nasceu: d
Digite apenas os números!! Digite o ano que vc nasceu: q
Digite apenas os números!! Digite o ano que vc nasceu: 8
8

## Operadores de Comparação  
Os operadores de comparação são aqueles que possuem o objetivo de analisar os valores de uma expressão e retornar um valor booleano, ou seja, verdadeiro (1) ou falso (0).

**Maior que**

In [ ]:
2 > 3

False

**Menor que**

In [ ]:
2 < 3

True

**Igualdade**

In [ ]:
2 == 3  # var_1 = 4 é uma atribuição, e não comparação

SyntaxError: ignored

**Diferença**

In [ ]:
2 != 5

True

**Maior ou igual**

In [ ]:
3 >= 2

True

**Menor ou igual**

In [ ]:
3 <= 2

False

Resumindo:

| Símbolo | Operação        |
|---------|-----------------|
|    >    | Maior           |
|    <    | Menor           |
|    ==   | Igualdade       |
|    !=   | Diferença       |
|    >=   | Maior ou igual  |
|    <=   | Menor ou igual  |

**Vamos praticar (3)**  
Imagine que você está implementando um sistema para verificar se os alunos de uma turma estudantil passaram na disciplina ou não. Para isso solicite que o usuário insira as notas das 4 provas realizadas por um estudante e calcule a média. Após isso, emita uma resposta booleana (True ou False) se o estudante passou na disciplina pensando que a média mínima para aprovação é que seja pelo menos 5.

In [ ]:
# Solução do Thiago Caveglion
lista = []
soma = 0
quantidade_de_provas = 4
for i in range(quantidade_de_provas):
    lista.append(float(input(f"digite a nota {i + 1}: ")))
for nota in lista: soma += nota
media = soma/quantidade_de_provas
if media >= 5: print(True)
else: print(False)

In [ ]:
# Solução do Gabriel Miranda
import numpy as np
notas = []
for i in range(4):
    notas.append(float(input("Nota "+str(i+1)+":")))
notas = np.array(notas)
print(notas.mean() >= 5)

In [ ]:
# Solução do Lucas Lima
nota_1 = int(input("Insira a nota da 1ª prova"))
nota_2 = int(input("Insira a nota da 2ª prova"))
nota_3 = int(input("Insira a nota da 3ª prova"))
nota_4 = int(input("Insira a nota da 4ª prova"))

media = (nota_1 + nota_2 + nota_3 + nota_4)/4;

if media >= 5:
    print(True)
else:
    print(False)

In [ ]:
# Solução da Fernanda Dallaqua
notas = input('Insira as notas das 4 provas, com ponto para decimal e separadas por vírgula: ')
notas = notas.split(',')
notas = [float(x) for x in notas]
media = float(sum(notas))/4.0
print('Média = {}'.format(media))
if media >= 5.0:
  print('Estudante aprovado')
else:
  print('Estudante reprovado')

In [ ]:
# Solução da Mohara
n1 = float(input('Digite sua primeira nota: '))
n2 = float(input('Digite sua segunda nota: '))
n3 = float(input('Digite sua terceira nota: '))
n4 = float(input('Digite sua quarta nota: '))
media = (n1+n2+n3+n4)/4
print(media>=5)

Crie um algoritmo que calcule o IMC (índice de massa corporal). O IMC é calculado com a formula PESO/(ALTURA ^ 2). Para isso, coloque as informações nas variáveis e ao final apresente o resultado como no exemplo: "O IMC é 18"

In [ ]:
# Solução do Lucas Lima
peso = float(input("Insira aqui o seu peso: ").replace(',', '.')) # Estratégia usado pelo Rodrigo Carvalho para evitar erros ao informar número com vírgula ao invés de ponto
altura = float(input("Insira aqui a sua altura: "))

imc = peso / (altura**2)

print(f"O IMC é {round(imc, 2)}")

Escreva um algoritmo que calcule (x + y) * (x + y). Os valores de x e y devem ser inseridos pelo usuário

In [ ]:
# Solução da Manusa
x=float(input('Insira o valor de x(valor inteiro ou decimal):'))
y=float(input('Insira o valor de y (valor inteiro ou decimal):'))
calc=(x+y)*(x+y)
print(f'O resultado do cálculo ({x} + {y}) * ({x} + {y}) = {calc}')